// registry=https://nexus.esdm.co.uk/repository/npm-all/
registry=https://registry.npmjs.org

@fortawesome:registry=https://npm.fontawesome.com/
//npm.fontawesome.com/:_authToken=F9FD89EC-E5AF-4B1F-81C3-114FC277C65C